.images {
    position: relative;
    height: 60vh;
  }
  
  .piza {
    position: absolute;
    top: 50%;
    left: 10%;
    animation: piza 2s infinite both;
  }
  .burger {
    position: absolute;
    top: 50%;
    left: 80%;
    animation: burger 2s infinite both;
  }
  
  @keyframes burger {
    0% {
      transform: translateX(20px);
    }
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(20px);
    }
  }
  
  @keyframes piza {
    0% {
      transform: rotateY(0);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .menu{
    position: relative;
    width: 800px;
    border:1px solid blue;
    margin: auto;
  }

  .h2{
    text-align: center;
    font-size: 40px;
    text-transform: none;
  }
  .h3{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: orange
  }
  .carousel{
    max-width: 800px;
    margin: auto;
  }

  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    background-color: #f1f1f1;
  }