.container {
  display: flex;
  height: auto;
}

/* logo pic container */
.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0rem 3rem;
}

.menu_container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.menu_buttons {
  display: flex;
  align-items: center;
  padding:1rem;
  gap:1rem;
  border: none;
  outline: none;
}
.menu_button,.menu_orderNow {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background-color: black;
  color: white;
}
.menu_orderNow{
    background-color: red;
    padding:10px 20px;
    text-transform: uppercase;
}
.menu_button:hover,.menu_orderNow:hover{
    cursor: pointer;
  }

.time,.links{
    display: flex;
    align-items: center;
    padding: 1rem;
    gap:1rem;
}

.menu_firstLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(220, 8, 8);
  color:white;
  padding: 0rem 2rem;
}
.menu_secondLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(4, 4, 27);
  color: white;
  padding: 1rem 3rem;
}

.menu_items{
    display: flex;
    gap: 1rem;
   color: grey;
}

.form{
    display: flex;
    width: 400px;
    flex-direction: column;
    gap:1rem;
   
}

.form_fields{
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.submit{
    padding:10px 20px;
}